{% extends 'base.html' %}

{% block title %}
InvoiceCloud - Login
{% endblock %}

{% block section %}


        <h1>Entrar</h1>
        <br>
        {% if errors %}
            <div class="alert alert-danger" role="alert">
            {% for error in errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
        {%  endif %}



        <form method="post">
            {% csrf_token %}
            <table>
                {{ login_form.as_table }}
            </table>
            <br>
            <button class="btn btn-default">Entrar</button>
        </form>



{% endblock %}